{%- extends "basic/layout.html" %}

{%- block doctype -%}
<!doctype html>
{%- endblock %}

{%- block extrahead %}
  {{ super() }}
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,700,600" rel="stylesheet">
{% endblock %}

{# Disable base theme's top+bottom related navs; we have our own in sidebar #}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}

{%- block content %}
  <div class="wrapper
    {% if 'helpdesk/' in pagename %}
      gorgias-helpdesk
    {% endif %}

    {% if 'extension/' in pagename %}
      gorgias-extension
    {% endif %}">

    <div class="header">
      <div class="header-inner">
        <a href="/" class="header-logo">
          <img src="/_static/gorgias-logo-white-transparent.png" alt="Gorgias Documentation" width="140">
        </a>

        <h2 class="header-text">
          {% if 'helpdesk/' in pagename %}
            Helpdesk
          {% endif %}

          {% if 'extension/' in pagename %}
            Chrome Extension
          {% endif %}
        </h2>
      </div>
    </div>

    <div class="document">
      {%- block document %}
          <div class="content" role="main">
            {% block body %} {% endblock %}
          </div>
      {%- endblock %}

      {%- block sidebar2 %}{{ sidebar() }}{% endblock %}
    </div>
  </div>
{%- endblock %}

{%- block footer %}
    <div class="footer">
      <div class="footer-inner">

        <ul class="footer-links">
          <li>
            <a href="https://www.gorgias.io/">
              Gorgias.io
            </a>
          </li>
          <li>
            <a href="/helpdesk">
              Helpdesk User Docs
            </a>
          </li>
          <li>
            <a href="/helpdesk">
              Helpdesk API
            </a>
          </li>
          <li>
            <a href="/extension">
              Chrome Extension User Docs
            </a>
          </li>
        </ul>

        <p class="footer-copy">
          &copy; Gorgias Inc.
        </p>
      </div>
    </div>

    {% if theme_analytics_id %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ theme_analytics_id }}']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
{%- endblock %}
