{%- extends "basic/layout.html" %}

{%- block doctype -%}
<!doctype html>
{%- endblock %}

{%- block extrahead %}
  {{ super() }}
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9">
{% endblock %}

{# Disable base theme's top+bottom related navs; we have our own in sidebar #}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}

{%- block document %}
   <div class="documentwrapper
   {% if 'helpdesk/' in pagename %}
    gorgias-helpdesk
  {% endif %}

  {% if 'extension/' in pagename %}
    gorgias-extension
  {% endif %}
  ">

    {%- if render_sidebar %}
      <div class="bodywrapper">
    {%- endif %}

        <div class="body" role="main">
          {% block body %} {% endblock %}
        </div>

    {%- if render_sidebar %}
      </div>
    {%- endif %}
    </div>
{% endblock %}

{%- block footer %}
    <div class="footer">
      {% if show_copyright %}&copy;{{ copyright }}{% endif %}
    </div>

    {% if theme_analytics_id %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ theme_analytics_id }}']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
{%- endblock %}
